.main__job-info {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.job-info__list {
  display: flex;
  gap: 50px;
}

.job-info__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
