.main__job-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.job-info__title {
  font-size: clamp(1.25rem, 1.188rem + 0.31vw, 1.563rem);
  align-self: start;
}

.job-info__list {
  display: grid;
  grid-template-columns: repeat(4, 295px);
  gap: 50px;
}

.job-info__item {
  display: flex;
  flex-direction: column;
  min-width: 295px;
  gap: 20px;
}

.item-vacancy {
  grid-column-start: span 2;
  grid-row: 1 / 3;
  max-width: unset;
}
