.main__job-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}

.job-info__aside-article-wrapper {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  gap: 15px;
  margin-top: 40px;
}

.article {
  display: flex;
  flex-direction: column;
  align-self: start;
  max-width: 360px;
  width: 100%;
  gap: 15px;
  background-color: var(--arctcle-background-color);
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.article__span {
  font-family: inherit;
  font-weight: 500;
}

.bold {
  font-weight: bold;
  margin-bottom: 10px;
}

.job-info__list {
  display: grid;
  grid-template-columns: 400px 600px;
  gap: 20px;
  grid-column-start: 2;
  grid-row-start: 1;
}

.job-info__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 295px;
  gap: 10px;
}

.item-canvas .job-info__article {
  justify-content: center;
  align-items: center;
}

.item-vacancy {
  grid-column-start: span 2;
  max-width: unset;
}

.job-info__botom-article-wrapper {
  display: flex;
  gap: 20px;
  grid-column-start: span 2;
}

@media (max-width: 1400px) {
  .job-info__list {
    grid-template-columns: 300px 500px;
  }
}

@media (max-width: 1050px) {
  .job-info__list {
    display: flex;
    flex-direction: column;
  }
}
