*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * {
  outline: 1px red solid;
} */

*:focus {
  outline: 0;
}

*:focus-visible {
  outline: 1px solid var(--main-color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* body */
.page {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-color-text);
  background-color: var(--main-background-color);
  /* background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 43%, rgba(80, 42, 94, 1) 100%); */
}

/* Прибиваем шапку к верху футер к низу */
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media (max-width: 768px) {
  #root {
    min-height: calc(100vh - 60px);
  }
}
