.job-info__article-title {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.job-info__article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 300px;
  max-height: 300px;
  background-color: var(--arctcle-background-color);
  border-radius: 10px;
}

/* Смена настроек высоты для карточки с вакансиями */
.article-vacancy {
  min-height: 700px;
  max-height: 700px;
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.article__list::-webkit-scrollbar {
  width: 3px;
}

.article__list::-webkit-scrollbar-track {
  background: transparent;
}

.article__list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 2px;
}
