.job-info__article-title {
  max-width: 400px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.job-info__article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  height: 400px;
  overflow: auto;
  background-color: var(--arctcle-background-color);
  border-radius: 10px;
}

.job-info__article::-webkit-scrollbar {
  width: 10px;
}

.job-info__article::-webkit-scrollbar-track {
  background: transparent;
}

.job-info__article::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 5px;
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
